body
  background-color: #fff
  font-family: monospace
  display: grid
  width: 100%
  padding: 0
  margin: 0

div
  display: inline-block
.container
  width: 100%
.navbar
  background-color: #111111
  width: 100%
  display: inline-block
  font-size: 1.5em
  position: fixed
  top: 0
  left: 0
  .nav
    margin: 0
    padding: 0
    width: 100%
    ul
      margin: 0
      padding: 0
      list-style-type: none
    a
      text-align: center
      text-decoration: none
      color: #FFD906
      cursor: pointer
    a:hover
      color: #fff
    a:active
      color: #fff
    li
      display: inline-block
      width: 10%
      padding: 15px 10px
      border-right: 1px solid #FFD906
    li:hover
      background-color: #FFD906
    li:active
      background-color: #FFD906

.profile
  width: 100%
  padding: 50px 0px 0px 0px
  margin-left: 0
  .colum
    width: 100%
    height: 750px
    background-color: #fff
    .colum1
      width: 37%
      padding: 20px 0px 0px 100px
      float: left
    .colum2
      width: 45%
      font-size: 1.5em
      font-weight: 100
      background-color:#FFD906
      padding: 50px
      float: left
.circlepic
  display: inline-block
  width: 400px
  border-radius: 50%
  overflow: hidden
  margin-top: 100px
  border: 5px solid #FFD906
.inputtext
  padding: 10px 5px
  border-radius: 5px
  border: 1px solid

.contact
  height: 750px
  width: 100%
  padding: 0
  margin-left: 0
  margin-bottom: 0
  background-color: #fff
  text-align: center
  .header
    float: left
    width: 100%
    text-align: center
    font-size: 2em
    font-weight: 500
    padding: 40px 0px
    color: #FFD906
  .contactlist
    width: 51%
    .contacticon
      width: 50%
.sizeicon
  width: 150px
  margin: 10px

.skill
  height: 760px
  width: 100%
  padding: 0
  margin-left: 0
  background-color: #FFD906
.skilltext
  float: left
  width: 30%
  height: 260px
  background-color: #111
  h1
  font-size: 3em
  font-weight: 500
  text-align: center
  padding: 250px 0px
  color: #FFD906
.skilllogo
  width: 70%
  .logorow
    width: 100%
.size
  width: 100px
  margin: 50px
.size2
  width: 125px
  margin: 65px 50px 35px 50px

.footer
  text-align: center
  width: 100%
  background-color: #111
  height: 200px
  padding-top: 50px
  .text
    color: #FFD906
    font-weight: 100
    font-size: 1.2em
    width: 100%
    padding: 10px
